.container {
  text-align: center;
  background-color: #fff;
  
}

.tagline {
  margin-bottom: 20px;
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 71px;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 75px;
}

.button {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  

}

label {
  margin: 10px 0; /* Space above and below the labels */
}

.input, .textarea {
  width: 300px; /* Set a consistent width for input fields */
  padding: 10px; /* Add padding for better appearance */
  margin-bottom: 15px; /* Space below each input */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  resize: none; /* Disable resizing if you want a fixed size */
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 25px;
}

.submitButton:hover {
  background-color: #0056b3;
  
}

.textarea {
  padding: 10px;
  margin: 10px 0 25px 45px; 
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.test {
 font-weight: bold;
}